.idea/.gitignore
.idea/appmap.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/discord.xml
.idea/KidsDuoBus Routing.iml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources/9f91d03a-c385-4c39-914f-7cda29628131.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/Bus.cpython-310.pyc
__pycache__/BusRouting.cpython-310.pyc
__pycache__/calc_travel_time.cpython-310.pyc
__pycache__/ConsoleOperation.cpython-310.pyc
__pycache__/DatabaseManager.cpython-310.pyc
__pycache__/FileOperation.cpython-310.pyc
__pycache__/get_file.cpython-310.pyc
__pycache__/PickupPoint.cpython-310.pyc
__pycache__/Student.cpython-310.pyc
datas/addressData.csv
datas/DemoData.csv
KidsDuoBusRouting.db
src/models/__pycache__/Bus.cpython-311.pyc
src/models/__pycache__/Bus.cpython-310.pyc
src/db/__pycache__/DatabaseManager.cpython-311.pyc
src/models/__pycache__/Student.cpython-311.pyc
src/utils/__pycache__/ConsoleOperation.cpython-310.pyc
src/view/__pycache__/MainWindow.cpython-310.pyc
src/utils/__pycache__/FileOperation.cpython-311.pyc
src/utils/__pycache__/FileOperation.cpython-310.pyc
src/utils/__pycache__/ConsoleOperation.cpython-311.pyc
src/services/__pycache__/BusRouting.cpython-311.pyc
src/models/__pycache__/Student.cpython-310.pyc
src/services/__pycache__/BusRouting.cpython-310.pyc
src/db/__pycache__/DatabaseManager.cpython-310.pyc
src/api/__pycache__/GoogleMapsClient.cpython-311.pyc
src/api/__pycache__/GoogleMapsClient.cpython-310.pyc
src/models/__pycache__/PickupPoint.cpython-311.pyc
src/models/__pycache__/RouteSegment.cpython-311.pyc
apikey.txt
user.db
config.json
.idea/KidsDuoBusRouting.iml
.idea/inspectionProfiles/Project_Default.xml
src/api/__pycache__/APIKeyManager.cpython-310.pyc
src/db/__pycache__/UserDatabaseManager.cpython-310.pyc
src/models/__pycache__/User.cpython-310.pyc
